arxiv
fastapi
langchain_text_splitters
mindsdb_sdk
psycopg2_binary
pyyaml
requests
uvicorn
Jinja2
pydantic
pydantic-settings
paperscraper
PyPDF2
litellm==1.73.1
litellm-enterprise==0.1.7
litellm-proxy-extras==0.2.3
gevent
locust
psutil
pandas
matplotlib
numpy
seaborn